# --- Python y Entorno ---
__pycache__/
*.pyc
.venv/
.env

# --- Datos y Logs de Entrenamiento (Lab 3) ---
# ¡Muy importante ignorar esto para no bloquear GitHub!
data/
mlruns/
results/
plots/

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store
