<!DOCTYPE html>
<html>
<head>
    <title>MLOps Lab1 - Image API</title>
    <style>
        body {font-family: sans-serif; text-align: center; padding-top: 50px};
        h1{color:#2c3450 ;} 
        code{background: color #f1f1f1; padding: 4px  ; border-radius: 4px;} 
    </style>
    
</head>
<body>
    <h1>Welcome to the MLOps Image Processing API</h1>
    <p>Go to <code>/docs</code> to the test <strong>Prediction</strong>, 
        <strong>Resizing</strong>, <strong>Grayscaling</strong> and <strong>Flatting</strong>.</p>
    <p> <em> Lab 1 MLOps implementation  </em></p>
</body>
</html>
