name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Descargar c칩digo
      uses: actions/checkout@v3

    - name: Configurar Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Instalar uv y dependencias
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        source $HOME/.cargo/env
        uv sync

    - name: Ejecutar Tests
      run: |
        source $HOME/.cargo/env
        uv run pytest

  deploy:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - name: Descargar c칩digo
      uses: actions/checkout@v3

    - name: Login en Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Configurar Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Construir y Subir Imagen
      # Usamos la etiqueta 'lab2-app' para enga침ar a Render y que se actualice solo
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/lab2-app:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/lab2-app:latest

    - name: Desplegar en Render
      # Lanza la petici칩n a la URL secreta para avisar a Render
      run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
