name: CI/CD Pipeline Lab 3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Descargar código
      uses: actions/checkout@v3

    - name: Configurar Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Instalar uv y dependencias
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        source $HOME/.cargo/env
        # Aumentamos el timeout para descargar PyTorch sin cortes
        UV_HTTP_TIMEOUT=600 uv sync

    - name: Ejecutar Tests
      run: |
        source $HOME/.cargo/env
        # EL ARREGLO: PYTHONPATH=. obliga a Python a ver tus carpetas api/ y mylib/
        PYTHONPATH=. uv run pytest

  deploy:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - name: Descargar código
      uses: actions/checkout@v3

    - name: Login en Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Configurar Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Construir y Subir Imagen
      # Subimos como 'lab2-app' para que Render se actualice solo
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/lab2-app:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/lab2-app:latest

    - name: Desplegar en Render
      run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"